################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Treinamento/v15
/.vs/Treinamento/DesignTimeBuild/.dtbcache
/.vs/Supercharger/TreinamentoAplicacao
/.vs/Supercharger
